<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="la.gov.nit.nitn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FullscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".it_tips"
            android:exported="true" />
        <activity android:name=".about_us" />
        <activity android:name=".MainActivity" />
        <activity android:name=".membership" />
        <activity android:name=".korea_dbd" />
        <activity android:name=".contact" />
        <activity android:name=".it_tips_details" />
        <activity android:name=".cooperation" />
        <activity android:name=".young_idea" />
        <activity android:name=".love_life" />
        <activity android:name=".offers" />
        <activity android:name=".downloads" />
        <activity android:name=".MainActivity_lao"></activity>
    </application>

</manifest>